/*#region simple normalize*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img,
embed,
svg,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}
/*#endregion*/

/*#region variables*/
:root {
  --light-bg: #fef6e4;
  --light-txt: #001858;

  --dark-bg: #004643;
  --dark-txt: #fffffe;
}
/*#endregion*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 3rem 12%;
  background-color: var(--light-bg);
  color: var(--light-txt);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--dark-txt);
  }
}

h1 {
  font-weight: bold;
  font-size: 2.3rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-weight: lighter;
  font-size: 1.3rem;
  margin: 0 0 0.7rem 0;
}

main {
  display: flex;
}

aside {
  width: 50%;
}
